* {
  background-color: #333333;
  color: #ffffff;
}
#root {
  align-items: center;
}

.header-container {
  width: 300px;
  text-align: center;
}

h2 {
  font-size: 20px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-top: 30%;
}

.input-name {
  background-color: #ffffff;
  height: 30px;
  width: 120px;
  text-align: center;
  margin-top: 30px;
  color: #333333;
}

.input-date {
  display: hide;
}

button {
  border-radius: 5px;
  border-color: #cadbae;
  height: 50px;
  width: 100px;
  background-color: #cadbae;
  color: #333333;
  margin: 30px;
}

button:hover {
  cursor: pointer;
}

.last-5 {
  height: 350px;
  width: 250px;
  background-color: #ffffff;
  margin-left: 27px;
}
